
#player {
    height: 50px;
    width: 50px;
    position: absolute;
    background-image: url('../img/logos/sap.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
    
}

#item {
   height: 50px;
   width: 50px;
   position: absolute;
   background-image: url('../img/icons/dreikek.jpg');
   background-size: contain;
   background-repeat: no-repeat;
   z-index: 0,5;
  }

#tuer {
    height: 50px;
    width: 50px;
    position: absolute;
    background-image: url("../img/Gegenstände/tür.jpg");
    background-size: contain;
    background-repeat: no-repeat;

   }

#message {
    color: green;
    background-color: #232323;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #18ffd8, 0 0 30px #18e4ff, 0 0 40px #18c9ff, 0 0 55px #18ffff, 0 0 75px #18e4ff
   }