#player {
    height: 50px;
    width: 50px;
    position: absolute;
    background-image: url('../img/logos/sap.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;
    
}

#item {
   height: 50px;
   width: 50px;
   position: absolute;
   background-image: url('../img/KeyCards/KeycardBobRoss.png');
   background-size: contain;
   background-repeat: no-repeat;
   z-index: 1;
}

#tuer {
    height: 50px;
    width: 50px;
    position: absolute;
    background-image: url("../img/Gegenstände/tür.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
}

#message {
    color: rgb(255, 4, 4);
    background-color: #b9b5b5;
    height: fit-content;
    width: fit-content;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 3;
}

#inventory {
    color: rgb(255, 4, 4);
    background-color: #b9b5b5;
    height: 100px;
    width: 400px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 3;
}