@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@600&family=Open+Sans&family=Poppins&display=swap');


.server-reihe1{
    display:flex;
    margin: 80px;
    margin-top: 250px;
}

.server-reihe1 div{
    width: 75px;
    height: 75px;
    background-repeat: none;
    display:flex;
    position: relative;
    left: 40%;
    background-image: url(../img/spielFeld/SSF.png);
    background-size:contain;
}

.server-reihe2{
    display:flex;
    margin: 80px;
}

.server-reihe2 div{
    width: 75px;
    height: 75px;
    display:flex;
    position: relative;
    left: 40%;
    background-image: url(../img/spielFeld/SSF.png);
    background-size:contain;
}

.server-reihe3{
    display:flex;
    margin: 80px;
}

.server-reihe3 div{
    width: 75px;
    height: 75px;
    display:flex;
    position: relative;
    left: 40%;
    background-image: url(../img/spielFeld/SSF.png);
    background-size:contain;
}


#button {
    padding: 40px;
    position: relative;
    left: 41%;
    font-size: 25px;
    height: 50px;

}

#spielfeld {
	width: 1000px;
	height: 750px;
	margin: auto auto;
	display: flex;
	flex-flow: row wrap;
	border: 10px solid black;
    background-image: url(../img/hintergrund/Foyer_Hintergrund.png);
}

#timer{
    position :absolute;
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    margin:0;

}

#timer p {
    margin:0;
}


#box{
    position: absolute;
    border: 6px solid rgb(0, 255, 128);
    margin:0;
    height: 120px;
    width: 200px;
    
}
#score{
    position :absolute;
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    margin:0;
    top: 40px;
    height: 30px;
    width: 40px;
}



#score p {
    margin:0;
    position: absolute;
 
}


body{
    background-image: url(../img/hintergrund/Hintergrundbildserverminigame.png);
    z-index: -1;
    background-size: cover;
   /*background-repeat: no-repeat;*/
    object-fit: cover;
    
    
    
 /*background-color: blue;*/
}

