body {
	/*width: 0vw;
	height: 1vh;
	margin: 0;
	background-color: steelblue;*/
	background-image: url(../img/hintergrund/Hintergrundbildserverminigame.png);
    z-index: -1;
    background-size: cover;
   /*background-repeat: no-repeat;*/
    object-fit: cover;
}

h1 {
	text-align: center;
	font-size: 36px;
}

#inventory-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.item {
	display: flex;
	justify-content: space-between;
	margin: 10px;
	padding: 10px;
	background-color: #eaeaea;
	border-radius: 5px;
}

.item-name {
	font-weight: bold;
	font-size: 24px;
}

.item-remove {
	background-color: red;
	color: white;
	border: none;
	border-radius: 3px;
	font-size: 20px;
	padding: 5px 10px;
	cursor: pointer;
}

.item-remove:hover {
	background-color: #cc0000;
}

#spielfeld {
	width: 1000px;
	height: 750px;
	display: flex;
	flex-flow: row wrap;

	border: 10px solid white;
}
#miniserver {
	width: 1000px;
	height: 750px;
	display: flex;
	flex-flow: row wrap;

	border: 10px solid white;
}
#minimaus {
	width: 1000px;
	height: 750px;
	display: flex;
	flex-flow: row wrap;

	border: 10px solid white;
}

#spielfeld>div {
	width: 50px;
	height: 50px;
	margin: 0;
}

#sichteinschraenkung { /* momentan nicht funktionierend*/
	width: 2250px;
	height: 1750px;
	background-image: url('../img/hintergrund/sichteinschraenkung.png');
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	background-size: contain;
	z-index: 1;
	filter: drop-shadow(2px 4px 6px black)
}

#ausdunkeln {
	width: 2250px;
	height: 1750px;
	top: -925px;
	left: -875px;
	background-image: url('../img/hintergrund/ausblenden.png');
	background-repeat: no-repeat;
	position: absolute;
	background-size: contain;
	z-index: 2;
}

.Holzboden {
	background-image: url('../img/hintergrund/GuterHolzboden.png');
}

.white {
	background: white;
}

.black {
	background: black;
}

.SRB {
	background-image: url('../img/spielFeld/SRB.png');
}

.SSF {
	background-image: url('../img/spielFeld/SSF.png');
}

.SSU {
	background-image: url('../img/spielFeld/SSU.png');
}

.SSL {
	background-image: url('../img/spielFeld/SSL.png');
}

.SSM {
	background-image: url('../img/spielFeld/SSM.png');
}

.SSD {
	background-image: url('../img/spielFeld/SSD.png');
}

.SSR {
	background-image: url('../img/spielFeld/SSR.png');
}

.SRF {
	background-image: url('../img/spielFeld/SRF.png');
}

.door {
	background-image: url("../img/Gegenstaende/TolleTür.png");
}

#spielfigur {
	width: 60px;
	height: 60px;
	background-image: url('../img/spielFigur/Christian_Klein.png');
	background-repeat: no-repeat;
	position: absolute;
	background-size: contain;
	z-index: 1;
	filter: drop-shadow(2px 4px 6px black)
}

.SSF {
	background-image: url('../img/spielFeld/SSF.png');
}

.SSL {
	background-image: url('../img/spielFeld/SSL.png');
}

.SSU {
	background-image: url('../img/spielFeld/SSU.png');
}

.SSD {
	background-image: url('../img/spielFeld/SSD.png');
}

.SSM {
	background-image: url('../img/spielFeld/SSM.png');
}

.SSR {
	background-image: url('../img/spielFeld/SSR.png');
}

.KHW {
	background-image: url('../img/hintergrund/KHW.png');
}

.KTB {
	background-image: url('../img/hintergrund/KTB.png');
}

.KTW {
	background-image: url('../img/hintergrund/KTW.png');
}

.FBKP {
	background-image: url('../img/spielFeld/FBKP.png');
}

.FPKF {
	background-image: url('../img/spielFeld/FPKF.png');
}

.AFFE {
	background-image: url('../img/spielFeld/AFFE.png');
}

.DESK {
	background-image: url('../img/spielFeld/DESK.png');
}

.DPPH {
	background-image: url('../img/spielFeld/DPPH.png');
}

.CRDR {
	background-image: url('../img/spielFeld/CRDR.png');
}

.SPRU {
	background-image: url('../img/spielFeld/SPRU.png');
}

.KAFFEE {
	background-image: url('../img/Gegenstaende/Kaffemaschiene2.png');
}

.KEW {
	background-image: url('../img/hintergrund/KHW.png');
}

.KEKM {
	background-image: url('../img/Gegenstaende/Kaffemaschine2.png');
}

.startseite {
	position: absolute;
	width: 245px;
	height: 80px;
	visibility: hidden;
	left: 725px;
	top: 648px;
	z-index: 2;
	cursor: pointer;
}