body {
	width: 0vw;
	height: 1vh;
	margin: 0;
	background-color: steelblue;
}

h1 {
	text-align: center;
	font-size: 36px;
  }
  
#inventory-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
  
.item {
	display: flex;
	justify-content: space-between;
	margin: 10px;
	padding: 10px;
	background-color: #eaeaea;
	border-radius: 5px;
  }
  
  .item-name {
	font-weight: bold;
	font-size: 24px;
  }
  
  .item-remove {
	background-color: red;
	color: white;
	border: none;
	border-radius: 3px;
	font-size: 20px;
	padding: 5px 10px;
	cursor: pointer;
  }
  
  .item-remove:hover {
	background-color: #cc0000;
  }

#spielfeld {
	width: 1000px;
	height: 750px;
	margin: auto auto;
	display: flex;
	flex-flow: row wrap;
	
	border: 10px solid brown;
}

#spielfeld>div {
	width: 50px;
	height: 50px;
	margin: 0;
}

.white {
	background: white;
}

.black {
	background: black;
}

.floor {
	background-image: url('../img/spielFeld/SRB.png');
}

.SSF {
	background-image: url('../img/spielFeld/SSF.png');
}

.SSU {
	background-image: url('../img/spielFeld/SSU.png');
}
.SSL {
	background-image: url('../img/spielFeld/SSL.png');
}
.SSM {
	background-image: url('../img/spielFeld/SSM.png');
}
.SSD {
	background-image: url('../img/spielFeld/SSD.png');
}
.SSR {
	background-image: url('../img/spielFeld/SSR.png');
}

.Tür {
	background-image: url("../img/Gegenstände/TolleTür.png")
}

#spielfigur {
	width: 60px;
	height: 60px;
	background-image: url('../img/spielFigur/Christian_Klein.png');
	background-repeat: no-repeat;
	position: absolute;
	background-size: contain;
	z-index: 1;
	filter: drop-shadow(2px 4px 6px black)
}


#keycard1 {
	width: 60px;
	height: 60px;
	background-image: url('../img/KeyCards/keycard_bob.png');
	background-repeat: no-repeat;
	position: absolute;
	background-size: contain;
	z-index: 1;
	filter: drop-shadow(2px 4px 6px black)
}

#keycard2 {
	width: 60px;
	height: 60px;
	background-image: url('../img/KeyCards/keycard_daniel.png');
	background-repeat: no-repeat;
	position: absolute;
	background-size: contain;
	z-index: 1;
	filter: drop-shadow(2px 4px 6px black)
}

#keycard3 {
	width: 60px;
	height: 60px;
	background-image: url('../img/KeyCards/keycard_olli.png');
	background-repeat: no-repeat;
	position: absolute;
	background-size: contain;
	z-index: 1;
	filter: drop-shadow(2px 4px 6px black)
}

#keycard4 {
	width: 60px;
	height: 60px;
	background-image: url('../img/KeyCards/keycard_oskar.png');
	background-repeat: no-repeat;
	position: absolute;
	background-size: contain;
	z-index: 1;
	filter: drop-shadow(2px 4px 6px black)
}

