#startseite{
    grid-column: 2/3;
    grid-row: 2/3;
    cursor: pointer;

}
body{
    display: grid;
    grid-template-columns:  auto 20vw auto;
    grid-template-rows: 33vh 14vh 65vh;
    background-image: url("../img/hintergrund/SapSimulatorStartBildschirm-rot.png");
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 30%;
    overflow: hidden;
}