body{
	width: 0vw;
	height: 0vh;
	margin: 0;
}

#spielfeld {
	width: 1000px;
	height: 750px;
	margin: auto auto;
	display: flex;
	flex-flow: row wrap;
	flex-direction: row-reverse;
	border: 10px solid black;
}

#spielfeld>div {
	width: 50px;
	height: 50px;
	margin: 0;
}

.white {
	background: white;
}

.black {
	background: black;
}

.orange {
	background: orange;
}

#spielfigur {
    width: 60px;
    height: 60px;
    background-image: url(img/spielFigur/lumberjackOne.png);
    background-repeat: no-repeat;
    position: absolute;
    background-size: contain;
    z-index: 1;
}

