#Geschäftsmann {
    width: 100px;
    height: 100px;
    background-image: url('Christian\ Klein.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1;
}

#SAP-logo {
    width: 40px;
    height: 40px;
    top: 200px;
    left: 200px;
    background-image: url("");
    background-repeat: no-repeat;
    position: absolute;
    background-size: contain;
    background-color: red;
} 
display:inline-block {
width: 300px; 
margin: 20px 0; 
border-radius: 5px;  
background: lightskyblue; 
}
#countdown {
font-family: "Fira Sans", sans-serif; 
display: inline-block;
padding: 30px; 
background: black;
color: white;
}

#countdown span {
font-weight: bold; 
font-size: 30px; 
}